<div class="container">
  {{#if responseMessage}} 
    {{user-responses/universal responseMessage isSuccess}}
  {{/if}}
  {{#user-forms/edit isDisabled=false user=changeset}}
    {{#if changeset.isInvalid}}
      {{user-errors/changeset changeset.errors}}
    {{/if}}
    {{x-button/success 'Save changes' click=(action "saveChanges")}} 
    {{x-button/warning 'Cancel' click=(action "rollback" changeset)}}
  {{/user-forms/edit}}
</div>
{{outlet}}