{{#x-form as |f|}}
    {{#if responseMessage}}
    <div style="margin-top: 10px;" class="alert alert-success" role="alert">
        {{responseMessage}}
    </div>    
    {{/if}}
    {{f.email changeset.email 'Email'}}
    {{f.password changeset.password 'Password'}}
    {{f.password changeset.password_confirmation 'Password confirmation'}}
    {{#x-button as |b|}}
      {{b.success 'Join' click=(action "join" changeset)}}
      {{b.warning 'Clear form' click=(action "clearForm" changeset)}}
    {{/x-button}}
    {{#if changeset.isInvalid}}
      {{user-errors/changeset changeset.errors}}
    {{/if}}
{{/x-form}}